# dependencies
node_modules/

# next
.next/
out/

# env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

# firebase admin sdk key (절대 커밋 금지)
*-firebase-adminsdk-*.json
